<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-k0MCYRC8nzd9G6BJLg-v5PBbG9_T4kk</string>
	<key>GCM_SENDER_ID</key>
	<string>445074585046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gelbard.noteskeeper</string>
	<key>PROJECT_ID</key>
	<string>noteskeeper-rge</string>
	<key>STORAGE_BUCKET</key>
	<string>noteskeeper-rge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445074585046:ios:c874e8d7e877b47700a077</string>
</dict>
</plist>